.search {
  width: 100%;
  max-width: 300px;
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 16px;
}

.search:focus {
  border-color: #333;
}

.weather-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.weather-button:hover {
  background-color: whitesmoke;
  transform: scale(1.05);
}

.weather-button img {
  width: 20px;
  height: 20px;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  background: url(../assets/weather.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  max-width: 700px;
  margin: 15px auto;
  min-height: 500px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.search-row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}
  

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 50px 0px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  color: #333;
  font-style: normal;
  font-size: 30px;
}

.weather-data p {
  margin: 25px 0;
}

@media (max-width: 800px) {

.weather-data {
  padding: 50px 10px;
  font-size: 20px;
  margin: 15px 0;
}

weather {
  margin: auto;
}

}

