body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

.container {
  text-align: center;
  margin-bottom: 1rem;
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 13px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.change, button {
  color: #666;
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  padding: 0.6rem 1.2rem;
  margin: 0 0.5rem 1rem 0.5rem;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.change:hover, button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

h1 {
  text-align: center;
  color: black;
  margin-bottom: 40px;
}

.container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.container img:hover {
  transform: scale(1.02);
}

.container h2 {
  margin: 10px 0;
  font-size: 1.1rem;
}


@media (max-width: 800px) {

  .change {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }

}

